.glass-card {
  width: 100%;
  max-width: 420px;
  max-height: 90vh;
  overflow-y: auto;

  padding: 34px 26px;
  border-radius: 28px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 10px 40px rgba(0,0,0,0.35);
  text-align: center;
  position: relative;
  overflow-x: hidden;
  animation: fadeIn 1.5s ease;
}
